@import "../../../../../themes/variables.scss";

.container-master{
  display: flex;
  align-items: center;
  gap: 0.93rem;

}

button{
  color: $color-primary-white;
  border: none;
  cursor: pointer;

  background-color: transparent;

  transition: 0.4s;

  &:hover{
    transform: scale(1.1);
  }
}

.button-avatar{
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
